@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f9fafb; /* Un gris muy suave de fondo */
  margin: 0;
}