@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Un gris suave de fondo */
}

/* Ocultar barra de scroll en elementos específicos pero permitir scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  .no-print {
    display: none !important;
  }
}